.login.halfPage{
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.col{
    padding: 20px;
}

.boxIn{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

.flexCenter{
    border-radius: 2px;
    margin: auto;
    padding: 20px;
}

.borderShow{
    border: 1px black;
}

.charts{
    width: 440px;
    height: 300px;
}